
<!-- <div class="logo">
  <img src=".." alt="logo">
</div>
<div class="global-container">
  <div class="card login-form opacity-75">
    <div class="card-body">
      <h5 class="card-title text-center">Daftarkan Dirimu Menjadi Bagian Dari Kami!!</h5>
    </div>
    <div class="card-text">
      <form>
        <div class="mb-1">
          <label for="text" class="form-label"></label>
          <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Nama">
        </div>
        <div class="mb-1">
          <label for="text" class="form-label"></label>
          <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Alamat Email">
        </div>
        <div class="mb-1">
          <label for="text" class="form-label"></label>
          <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Umur">
        </div>
        
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Jenis kelamin</option>
          <option value="1">Laki-Laki</option>
          <option value="2">Perempuan</option>
        </select>
    
        <div class="d-flex justify-content-around align-items-center mb-2">
        
          <button type="submit" class="btn btn-success" id="floatingInputGroup1">Daftar?</button>
       </div>
      </form>
  </div>
  </div>  -->