<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


 <!-- <body>
  <div class="continer-fluid">
      <div class="loginBox">
          <h5>SELAMAT BELAJAR DI BEEF  UP !</h5>
          <P>Masukan Nama Pengguna Dan Kata Sandi</P>
          <form action="login.php" method="post">
              <div class="inputBox">
                  <input id="uname" type="text" name="Nama" placeholder="Masukan Nama Pengguna Anda">
                  <input id="pass" type="password" name="Kata Sandi" placeholder="Masukan Kata Sandi Anda">
                  <td><select name="select" type="select" style="width: 320px; text-align: center;">
                      <option value="" disabled selected hidden>Masuk Sebagai</option>
                    </select></td>
                  <button type="submit" routerLink="/halaman-utama">Masuk</button>
                  <p class="p">Apakah belum memiliki Akun?</p> 
                  <a routerLink="/pendaftaran"> <u>Daftar Sekarang!</u> </a>
              </div>
          </form>         
      </div>
      <img class="imgl" src="../../assets/img/LOGO-modified.png" style="height: 80px; width: 80px;">
      <img class="w" src="../../assets/img/WING.png" style="height: 300px; width: 840px;">
      <img class="t" src="../../assets/img/TALK.png" style="width: 600px; height: 500px;">
      <img class="ks" src="../../assets/img/zyro-image.png" style="width: 50px; height: 50px;">
      <img class="ls" src="../../assets/img/jzyro-image.png" style="width: 50px; height: 50px;">
  </div>
</body> -->